body {
    background-color: #999999;
  }
  
  #wrapper {
    margin: 24px auto;
    width: 1200px;
    border: 1px solid black;
    padding: 24px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    height: 1200px;
  }
  
  header{
    grid-column: span 12;
    background-color:#29760E;
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 0;
    border-radius: 15px;
    font-family: "Abel", sans-serif;
    box-shadow: -10px -10px 10px #0f602ed3; /* x, y, blur, color */
    height: 200px
  }

  main{
    grid-column: span 12;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
  }

  img{
    box-shadow: 10px 10px 10px #a8a8a8; /* x, y, blur, color */
    padding-left: 10px;
  }

  h2{
    font-size: 35px;
    border-bottom: 2px solid black;
  }

  ul{
    list-style-type: none;
  }

  nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  nav{
    grid-column: span 12;
  }
  
  nav a{
    transition: background-color 2s;
  }
  
  nav a:hover{
    background-color: rgb(232, 231, 211);
  }
  
  ul li a{
    color: rgb(114, 1, 1);
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
  }

  footer{
    grid-column: span 12;
    background-color: #29760E;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #0f602ed3; /* x, y, blur, color */
    font-size: 20px;
  }

  #line{
    padding-left: 10px;
    text-align: right;
  }

  #bold{
    font-weight: bold;
    padding-left: 10px;
    font-size: 32px;
  }